.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.installCommand {
  margin-top: 2rem;
  font-size: 1.2rem;
}

.installCommand code {
  background: rgba(0, 0, 0, 0.2);
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  font-size: 1.1rem;
}

.features {
  padding: 3rem 0;
}

.example {
  padding: 3rem 0;
  background: var(--ifm-color-emphasis-100);
}

.anyLanguage {
  padding: 3rem 0;
}
